.sidebar{
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 72px;
  padding-top: 5px;
  z-index: 200;
}

.sidebar-link{
  background-color: white;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-link:hover{
  background-color: rgb(234, 233, 233);
  cursor: pointer;
}
.sidebar-link img{
  height: 24px;
}

.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 10px;

}